body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

.site-header {
    background-color: #D3D3D3; 
    color: white; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px; 
    border: 3px solid #FFA07A
}

.site-header h1 {
    margin: 0 20px; 
    font-size: 48px; 
    text-align: center;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.logo {
    position: absolute; 
    height: 50px; 
    left: 20px; 
    top: 20px; 
}
