.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    border-bottom: solid 1px gray;
    min-width: 100%;
    background-color: #cfcfcf;
    padding: 10px;
    padding-bottom: 10px;
}

.header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.header-subtitle {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-top: 4px;
}

#page-logo {
    max-height: 50px;
    margin: 0px 10px;
}

.user-dropdown {
    margin: 14px 9px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
}

.dropdown-item-nohover:hover {
    background-color: transparent;
}

.sidebar {
    padding: 20px;
    background-color: #f8f9fa;
    width: 280px;
    position: fixed;
    left: 0;
    height: -webkit-fill-available;
}

.main-content {
    padding: 20px;
    height: -webkit-fill-available;
}

.task-container {
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    padding: 15px;
    margin-top: 20px;
    height: 300px;
}

.sidebar-row.active {
    background-color: blue;
    color: white;
}

.main-content-header h1 {
    color: #333;
    padding: 20px 0;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.task-box {
    display: flex;
    flex-direction: column;
}

.task-info h5,
.task-info h6,
.task-info p {
    margin-bottom: 0.5rem;
}

.task-info h5 {
    color: #007bff;
}

.task-info h6 {
    color: #343a40;
}

.progress {
    background-color: #f7f7f7;
}

.progress-bar {
    background-color: #28a745;
    text-align: center;
    color: white;
}

.hidden { display: none; }

.general-overview {
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
}

.general-overview .box {
    background-color: #f8f9fa;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.general-overview .box, .task-box {
    font-size: 30px;
    color: #333;
}

.overviewhead {
    color: #333;
    padding: 20px 0;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}