.header-container {
    display: flex;
    flex-direction: row;
    margin: 0px;
    border-bottom: solid 1px gray;
    min-width: 100%;
    background-color: #cfcfcf;
    padding: 10px;
    padding-bottom: 0px;
}

.sub-system-link {
    margin: 10px 9px;
    padding: 5px 10px;
    display: block;
}

.headerLink {
    text-decoration: auto;
}

.current-page-li {
    border-bottom: solid 1px #0d6efd;
}

.current-page {
    color: #0d6efd
}

.default {
    color: black;
}

#page-logo {
    max-height: 50px;
    margin: 0px 10px;
}

.user-dropdown {
    margin: 14px 9px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
}

.dropdown-item-nohover:hover {
    background-color: transparent
}


