

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

* {
    color: rgb(58, 58, 58);
}

main {
    height: 100%;
    display: flex;
    flex-direction: row;


}
.navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(149, 146, 146);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
}

.nav-item {
    color: white;
    font-size: 16px;
    margin-right: 5px;
}
.nav-item:last-child {
    margin-right:0
}
.nav-circle {
    width: 30px;
    height: 30px;
    background-color: rgb(176, 171, 171);
    border-radius: 50%;
    border: 2px solid white;
}

.groups-sidebar {
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px 0;
}

.groups-sidebar-item {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border: 1px solid #979797;
    cursor: pointer;
}

.message-list-sidebar-container {
    height: 100%;
    width: 400px;
    max-height: 100%;
    max-width: 400px;
    display: flex;
    max-height: 100%;
    max-width: 100%;
    flex-direction: column;
    background-color: #f8f9fa;
    padding: 20px 0;
}

.message-list-topbar {
    display: flex;
    justify-content: space-between;

}

.message-list-sidebar {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 400px;
    display: flex;
    max-height: 100%;
    max-width: 100%;
}

.message-list-sidebar-content {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    overflow-y: auto;
}

#message-list-title {
    font-size: 1.5rem;
    margin: 0 0 0 30px; 
}

.chat-preview {
    cursor: pointer;
    margin: 15px;
    padding: 14px;
    
}

.selected-chat {
    border-radius: 10px;
    border: 1px solid #979797;
}

.chat-name {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.chat-preview-text {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.main-section {
    width: 100%;
    height: 90%;
    margin: 0 0 80px;

    max-width: 100%;
    border-radius: 24px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 50px;
}

.topbar-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#current-conversation-name {
    font-size: 1.5rem;
    margin: 0;
}

#close-chat-button {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #979797;

}

.divider {
    width: 100%;
    border: 0.5px solid #979797;
}

.send-message-field {
    width: 100%;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #979797;
    font-size: 1rem;
}

.send-message-field-textarea {
    width: 100%;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #979797;
    font-size: 1rem;
}


#send-message-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#send-message-button {
    width: 50px;
    padding: 15px 20px;
    background: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#send-message-button svg {
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.chat-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    margin: 30px 0;

}

.message-container {
    display: flex;
    align-items: flex-start;
}

.outgoing {
    justify-content: flex-end;
}

.incoming-message {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #9A8399;
    max-width: 400px;

}

.outgoing-message {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #9A8399;
    max-width: 400px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    max-width: 300px;
    height: 500px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.message-timestamp {
    text-align: center; /* Center the text */
    font-size: smaller; /* Smaller font size */
}

.sender-name {
    font-size: 0.6rem;
}